{% extends 'index.html' %}
{% block title %}Lista de Reservas{% endblock %}
{% block content %}
<div class="container">
    <h2>{% if user.is_staff %}Todas las Reservaciones{% else %}Mis Reservaciones{% endif %}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Reserva ID</th>
                    <th>Habitación</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Total</th>
                    {% if user.is_staff %}
                        <th>Usuario</th>
                    {% endif %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.room }}</td>
                    <td>{{ reservation.fecha_inicio }}</td>
                    <td>{{ reservation.fecha_fin }}</td>
                    <td>{{ reservation.total }}</td>
                    {% if user.is_staff %}
                        <td>{{ reservation.usuario.username }}</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'reservations_Update' reservation.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'reservations_Delete' reservation.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

